@using PhysioCenter
@{
    ViewData["Title"] = "Admin Area!";
}

<div class="container px-5">
        <main role="main" class="pb-3">
<h1>Welcome to the @ViewData["Title"]</h1>
<p>Please use the navigation menu on the left. You can toggle it and off from the menu button at the top.</p>
        <span>
            <a class="btn btn-info" asp-controller="Dashboard" asp-action="LeaveAdminArea">Leave admin area</a>
        </span>
</main>
</div>