@using PhysioCenter.Models.Therapists
@model List<TherapistCardViewModel>
@{
    this.ViewData["Title"] = "Our team";
}

<link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
<canvas id=c></canvas>
    <div class="container mt-5 mb-5">
            <div class="row g-2">
        @foreach (var therapist in Model)
        {
                <div class="col-md-4 zoom-box">
                    <div title="Click to Book your appointment now!" class="card p-3 py-3 text-center" onclick="location.href='@Url.Action("BookAppointment", "Appointments")'">
                        <div class="img mb-2"> <img src="@therapist.ProfileImageUrl" width="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">@therapist.FullName</h5>
                        <div class="mt-4 apointment"> <a class="btn btn-dark text-uppercase" asp-controller="Therapists" asp-action="Details" asp-route-therapistId="@therapist.Id">Additional Details</a> </div>
                    </div>
                </div>
        }
            </div>
    </div>
