@{
    ViewData["Title"] = "About us";
   
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body class="d-flex flex-column">
        <canvas id=c></canvas>
        <main class="flex-shrink-0">
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3 text-light">Our mission is to restore and maintain the physical well-being of our community.</h1>
                                <p class="lead fw-normal text-muted mb-4">We are committed to providing quality and innovative care by fostering a comfortable, private and professional environment. Our interdisciplinary team will work collaboratively to offer a comprehensive and patient centered approach to ensure the highest level of client experience.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-transparent" id="scroll-target">
                <div class="container px-5 my-5 text-light">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://res.cloudinary.com/physiocenter/image/upload/v1648755463/PhysioCenter%20Images/clinic_svrex8.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">PhysioCenter is a physiotherapist-owned and operated facility. As physiotherapists, we find that too often clinics are tunneled in on using technical and passive treatment methods, thus minimizing the client’s active role in their own recovery.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5 bg-transparent">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://res.cloudinary.com/physiocenter/image/upload/v1648755561/PhysioCenter%20Images/random_qgmbcu.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-light">WE'RE HERE FOR YOU ONE STEP AT A TIME</h2>
                            <p class="lead fw-normal text-muted mb-0">We work with you through each stage of the recovery and prevention process to ensure understanding, in order to maximise your results.</p>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light bg-transparent">
                <div class="container px-5 my-5 text-light">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our founders</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://res.cloudinary.com/physiocenter/image/upload/v1648755969/PhysioCenter%20Images/member1_ml8eld.jpg" alt="..." />
                                <h5 class="fw-bolder">Ibbie Eckart</h5>
                                <div class="fst-italic text-muted">Founder &amp; CEO</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://res.cloudinary.com/physiocenter/image/upload/v1648755979/PhysioCenter%20Images/2_uedovw.jpg" alt="..." />
                                <h5 class="fw-bolder">Arden Vasek</h5>
                                <div class="fst-italic text-muted">CFO</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://res.cloudinary.com/physiocenter/image/upload/v1648755984/PhysioCenter%20Images/3_ysw3jp.jpg" alt="..." />
                                <h5 class="fw-bolder">Toribio Nerthus</h5>
                                <div class="fst-italic text-muted">Operations Manager</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://res.cloudinary.com/physiocenter/image/upload/v1648755986/PhysioCenter%20Images/4_qlbcff.jpg" alt="..." />
                                <h5 class="fw-bolder">Malvina Cilla</h5>
                                <div class="fst-italic text-muted">CTO</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
    