    <body class="d-flex flex-column h-100">
        <canvas id=c></canvas>
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5  text-light">
                        <h1 class="fw-bolder">Frequently Asked Questions</h1>
                        <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-xl-8 bg-transparent">
                            <!-- FAQ Accordion 1-->
                            <h2 class="fw-bolder mb-3 text-light bg-transparent ">Booking</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How to book an appointment?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>You need to register an account.</strong>
                                            Then go to Book Now menu and simply select the desired employee, service and check the available hours in the calendar.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Cancel an appointment?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>Please call us and our administrator will take care of it for you in under a minute.</strong>
                                           Please note you will not be refunded your money if you cancel the same day your appointment is.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Change appointment?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>Please call our administrator!</strong>
                                            You are allowed to change the specifics of your appointment under certain conditions. We'll gladly assist you over the phone.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion 2-->
                            <h2 class="fw-bolder mb-3  text-light">Therapy</h2>
                            <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="heading4"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Does everyone you treat get better?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapse4" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>There are never any guarantees in the health care world.</strong>
                                            However, if the health care practitioner and the client/patient are committed to working towards common goals, most outcomes are successful.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="heading5"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">How many treatments does it take to get better?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapse5" aria-labelledby="heading5" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>Every person is unique and every problem is unique.</strong>
                                            Some of our clients eliminate their pain and restore their function in 2 to 3 weeks.  Some problems take 6 to 8 weeks.  Unfortunately, some can take a few months, and in rare cases, longer.  Treatment should only be continued if it is helping.  If our treatment plan isn’t helping, it should be changed.  The treatment response is highly variable and depends on:

How complicated and difficult the problem is
How did you develop the problem (acute vs chronic)
How long you have had the problem
How significant the structural damage is
How committed you are to solving the problem
Your motivation
Your ability/willingness to modify your activities, aggravating factors, etc.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="heading6"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">How long will it take?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapse6" aria-labelledby="heading6" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                           Again, this is variable, and it is always important to discuss financial considerations of your treatment with your provider.  Cost is based on the total number of treatments required (which is not the same as how long it will take).

Over the past 5 years, we have tracked the average number of treatments required to help our clients achieve their goals (eliminating pain and restoring their function).  The average number of treatments is 8.  Keep in mind, this is an average.  Some clients require less treatment sessions, and some require more.

Our goal is always to provide the solutions in the most time efficient and cost effective manner.  If the treatment isn’t working, the plan needs to be changed. In some cases, there are other factors and/or other providers that can help (eg. physicians, massage therapists, psychologists, coaches, etc).  Feel free to discuss alternative/additional service providers.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 bg-light mt-xl-5">
                                <div class="card-body p-4 py-lg-5">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Have more questions?</div>
                                            <p class="text-muted mb-4">
                                                Contact us at
                                                <br />
                                                <a href="/Home/Contacts">support@physiocenter.com</a>
                                            </p>
                                            <div class="h6 fw-bolder">Follow us</div>
                                            <a class="fs-5 px-2 link-dark" ><i class="bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" ><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" ><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" ><i class="bi-youtube"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
