<div id="wrapper" class=>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Appointments" asp-action="Index">Appointments</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Therapists" asp-action="Index">Therapists</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Services" asp-action="Index">Services</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Blogs" asp-action="Index">Blogs</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Reviews" asp-action="Index">Reviews</a>
            </li>
        </ul>
    </div>
</div>
