<div id="wrapper" class=>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            </li>
            <li>
                <a asp-area="Therapist" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li>
                <a asp-area="Therapist" asp-controller="Appointments" asp-action="Index">Appointments</a>
            </li>
            <li>
                <a asp-area="Therapist" asp-controller="Clients" asp-action="Index">Clients</a>
            </li>
        </ul>
    </div>
</div>
