@using PhysioCenter.Models.Clients
@model ClientsListViewModel

@{
    this.ViewData["Title"] = "Clients";
}

<div class="container px-5">
    <main role="main" class="pb-3">
        <h2>Your Clients</h2>
        <table class="table table-bordered table-striped table-hover" id="adminTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Client</th>
                    <th scope="col">Check notes for client</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Clients)
                {
                    <tr>
                        <td>@client.FullName</td>
                        <td>
                            <a asp-controller="Notes"
                           asp-action="Index"
                           asp-route-clientId="@client.Id"
                           asp-route-therapistId="@ViewBag.TherapistId"
                           class="btn btn-warning">
                                Notes
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>

