@using PhysioCenter.Models
@model TherapistInputViewModel

@{
    ViewData["Title"] = "Create a Therapist";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<main role="main" class="pb-3">
    <h2>Create New Therapist</h2>
    <form method="post" enctype="multipart/form-data" class="pt-4">
        <div class="form-group">
            <div class="form-floating mb-3 w-25">
                <input asp-for="FullName" class="form-control" id="floatingInput" placeholder="Leave a comment here">
                <label asp-for="FullName" for="floatingInput">Full Name</label>
                <span asp-validation-for="FullName" class="small text-danger"></span>
            </div>
            <div class="form-floating mb-3 w-25">
                <input asp-for="ProfileImageUrl" class="form-control" id="floatingProfile" placeholder="Leave a comment here">
                <label asp-for="ProfileImageUrl" for="floatingProfile">Profile Picture</label>
                <span asp-validation-for="ProfileImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-floating col-sm-10 mt-2 w-25">
                <textarea asp-for="Description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
                <label asp-for="Description" for="floatingTextarea">Description....</label>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="col-sm-12" style="margin-top: 20px;">
                <button type="submit" class="btn btn-success"
                        asp-controller="Therapists"
                        asp-action="CreateTherapist">
                    Create Therapist!
                </button>
                <a class="btn btn-danger" asp-controller="Therapists"
                   asp-action="Index">
                    Cancel
                </a>
            </div>

        </div>
    </form>
</main>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }